@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url("assets/fonts/bpg_banner.ttf");
  font-family: bpg;
}
@font-face {
  src: url("assets/fonts/bpg_banner_caps.ttf");
  font-family: bpgcaps;
}

@font-face {
  src: url("assets/fonts/regular.ttf");
  font-family: regular;
}
@font-face {
  src: url("assets/fonts/medium.ttf");
  font-family: medium;
}
@font-face {
  src: url("assets/fonts/bold.ttf");
  font-family: bold;
}
@font-face {
  src: url("assets/fonts/capsMedium.woff2");
  font-family: capsMedium;
}
.hidescroll {
  overflow-x: scroll;
}
.hidescroll::-webkit-scrollbar {
  display: none;
}
.flickfx {
  -webkit-transform: translateZ(0);
}

/* DEBUG */
* {
  /* border: 2px solid red; */
}
body {
  font-family: capsMedium;
  letter-spacing: 1.5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  @apply bg-whiteHover w-[8px];
}
::-webkit-scrollbar-thumb {
  @apply bg-main;
}

.linear_main {
  @apply bg-gradient-to-r from-main to-secondMain;
}
